<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>546605526965-7ke7kqf9bfb5kni0krjdjbg99dqf10v5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.546605526965-7ke7kqf9bfb5kni0krjdjbg99dqf10v5</string>
	<key>API_KEY</key>
	<string>AIzaSyDIE0xnGaCpr6m3h9i1U4dDrjC0vgHDUeE</string>
	<key>GCM_SENDER_ID</key>
	<string>546605526965</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Jay-Balderas1.Pictorious</string>
	<key>PROJECT_ID</key>
	<string>pictoriousrebuild</string>
	<key>STORAGE_BUCKET</key>
	<string>pictoriousrebuild.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:546605526965:ios:a49d71c6179dbad8</string>
	<key>DATABASE_URL</key>
	<string>https://pictoriousrebuild.firebaseio.com</string>
</dict>
</plist>